body {
    display: flex;
    flex-direction: column;
    background: #F4F4F4;
    min-width: 100vw;
    height: 100vh;
}


/*MODAL*/
.containerPeriferico {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.table-content {
    background-color: #fff;
    padding: 2rem;
}

.table {
    border-color: #8B51A1;
}

.thead-dark {
    color: #8B51A1;
}

th {
    color: #262626;
}

.addModelo {
    display: flex;
    flex-direction: column;
    width: 50%;
}