@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.detalhe{
    width: 50vw;
    min-height: 100vh;

    padding: 2em;

    background: #F5F5F5;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    margin: auto;
}

.detalhes-body .nmr{
    color: #00438F;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.detalhes-body h2{
    font-weight: 600;
    font-size: 32px;
    color: #00438F;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
}

.detalhes-body h3{
    font-weight: 400;
    font-size: 20px;
    color: #DF2E2E;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
}

.detalhes-body p{
    font-weight: 400;
    font-size: 24px;
    color:#404040;
}

 .buttons{
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    margin-top: 35%;
 }

.buttons .Atender{
    background-color: #33BC31;
    width: 132px;
    height: 48px;
}

.buttons .Recusar{
    background-color: #DF2E2E;
    width: 132px;
    height: 48px;

    margin-left: 5%;
}

.date{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #00438F;
}

.header{
    display: flex;
    flex-direction: row;
}

.identity{
    width: 10%;
}

.identity .img{
    width: 200%;
    border-radius: 200px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.details{
    display: flex;
    flex-direction: column;

    width: 50%;

    margin-left: 10%;
    margin-top: 2%;
}