@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*header*/
header{
    position: absolute;
    width: 100vw;
    height: 11%;
    left: 0px;
    top: 0px;
    padding-left: 15px;

    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.line{
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 11%;
    margin-top: 50px;
}

.btns .btn {
    background-color: #F8F8F8;
    border-style: none;
    color: #8B51A1;
   
}

.btns button{
    margin-top: 30px;
    margin-left: 25px;
}

.filtro{
    width: 120px;
    height: 35px;
    background: #8B51A1;
    border-radius: 10px;
    border-style: hidden;
    color: #ECECEC;
}

.abrirChamado{
    width: 120px;
    height: 35px;

    background: #C82C8D;
    border-radius: 10px;

    margin-left: 10px;
    font-size: 12px;

    border-style: hidden;
    color: #ECECEC;
}

.search input{
    box-sizing: border-box;
    position: absolute;
    width: 530px;
    height: 38px;
    left: 450px;
    top: 20px;

    background: #faf8f8; 
    /* PrimaryColorBlue */
    border-style: none;
    border-radius: 5px;
}

.search input::placeholder{
    color: #00438F;
    font-weight: 500;
    padding-left: 5px;
}

.image{
    position: absolute;
    top: 0;
    margin-left: 78%;
}

.bemVindo{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 30%;
    position: absolute;
    top: 0;
    left: 78%;
}

.bemVindo img{
    width: 10%;
    border-radius: 100px;
    margin-left: 5px;
}

/*fim header*/

/*kanban*/
main .chamados{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 150px;
    left: 2%;
}

/*abertos*/
main .chamados .abertos{
    width: 270px;
    height: 808px;
    
    
    background: #F8F8F8;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left-color: #33BC31;
}

.chamados .abertos .titulo{
    width: 270px;
    height: 65px;
    background-color: #00438F;
    border-radius: 5px;
}

h1{
    padding-top:18px;
    color: #FFFFFF;

    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
/*fim abertos*/

/*andamento*/
main .chamados .andamento{
    width: 270px;
    height: 808px;
    left: 67px;
    top: 291px;
    
    background: #F8F8F8;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 25px;

    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left-color: #D8D12E;
}

.chamados .andamento .titulo{
    width: 270px;
    height: 65px;
    background-color: #00438F;
    border-radius: 5px;
}
/*fim andamento*/

/*cancelado*/
main .chamados .cancelado{
    width: 270px;
    height: 808px;
    left: 67px;
    top: 291px;
    
    background: #F8F8F8;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 25px;

    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left-color: #DF2E2E;
}

.chamados .cancelado .titulo{
    width: 270px;
    height: 65px;
    background-color: #00438F;
    border-radius: 5px;
}
/*fim cancelado*/

/*QlqrCoisa*/
main .chamados .qlqrNome{
    width: 270px;
    height: 808px;
    left: 67px;
    top: 291px;
    
    background: #F8F8F8;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 25px;

    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left-color: #DF2E2E;
}

.chamados .qlqrNome .titulo{
    width: 270px;
    height: 65px;
    background-color: #00438F;
    border-radius: 5px;
}

/*concluido*/
main .chamados .concluido{
    width: 270px;
    height: 808px;
    left: 67px;
    top: 291px;
    
    background: #F8F8F8;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 25px;

    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left-color: #8B51A1;
}

.chamados .concluido .titulo{
    width: 270px;
    height: 65px;
    background-color: #00438F;
    border-radius: 5px;
}


.chamado-body-atendimento {
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    background-color: rgba(248, 227, 166, .4);

    width: 200px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    border-radius: 8px;
}

.chamado-body {
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    background-color: rgba(152, 211, 151, .4);

    width: 200px;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    border-radius: 8px;
}

.chamado-body h2{
    color: #00438F;
    font-size: 20px;
}

.chamado-body-atendimento h2{
    color: #00438F;
    font-size: 20px;
}

.chamado-body h3{
    color: #DF2E2E;
    font-weight: 400;
    font-size: 14px;
}

.chamado-body-atendimento h3{
    color: #DF2E2E;
    font-weight: 400;
    font-size: 14px;
}

.chamado-body button{
    width: 90px;
    height: 35px;
    background-color: #8B51A1;
    border-style: hidden;
    border-radius: 5px;
    color: #ECECEC;
    font-size: 13px;
}

.chamado-body-atendimento button{
    width: 80px;
    height: 35px;
    margin-left: 95px;
    background-color: #8B51A1;
    border-style: hidden;
    border-radius: 5px;
    color: #ECECEC;
    font-size: 13px;
}

.chamado-body button{
    width: 80px;
    height: 35px;
    margin-left: 95px;
}

.chamado {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    display: flex;
}

.star{
    color: #D8D12E;
}

.trash{
    color:#00438F;
}

/*MODAL*/
.modal-dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content{
    width: 50vw;
    padding: 2rem;
}

.details{
    margin-left: 15%;
    margin-top: 15px;
}


.detalhes-body .nmr{
    color: #00438F;
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    font-size: 16px;
    align-items: end;
}

.detalhes-body h2{
    font-weight: 600;
    font-size: 32px;
    color: #00438F;

    display: flex;
    flex-direction: column;

}

.detalhes-body h3{
    font-weight: 400;
    font-size: 16px;
    color: #DF2E2E;

    display: flex;
    flex-direction: column;
 
}

span{
    margin-top: 15px;
    color: #404040;
}

.detalhes-body p{
    font-weight: 400;
    font-size: 20px;
    color:#404040;
    margin: auto;
}
.atenderRecusar{
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    margin-top: 10%;
    justify-content: center;
 }

.atenderRecusar .Atender{
    background-color: #33BC31;
    width: 132px;
    height: 48px;
}

.atenderRecusar .Recusar{
    background-color: #DF2E2E;
    width: 132px;
    height: 48px;

    margin-left: 5%;
}

.date p{
    display: flex;
    flex-direction:row;
    color: #00438F;
    font-size: 16px;
    
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.identity{
    width: 10%;
}

.identity .img{
    width: 200%;
    border-radius: 200px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*navbar*/
#offcanvasScrolling{
    width: 20%;
    background: #F8F8F8;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
}

.offcanvas-header button{
    margin-left: 90%;
}

.offcanvas-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodylink{
    background: #8B51A1;
    width: 100%;
    height: 25%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    display: flex;
    flex-direction: column; 
}

.bodylink a{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    color: #FFFFFF;
    text-decoration: none;
    align-items: center;
}

 .bodyInfo img{
    width: 50%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.bodyInfo h2{
    font-size: 20px;
    color: #00438F;
    text-align: center;
    margin-top: 8%;
    font-weight: 600;
}

.bodyInfo h3{
    font-size: 18px;
    color: #DF2E2E;
    text-align: center;
    font-weight: 400;
}

.bodyInfo span{
    font-size: 14px;
}

.buttons{
    display: flex;
    flex-direction: column;
    min-height: 30%;
    min-width: 100%;
    justify-content: center;
}

.btnSair a{
    font-size: 16px;
    font-weight: 600;
    color: #00438F;
    text-decoration: none;
}



